<form method="post" action="/rabbit-rescue/by-breed">
  <div class="form-wrap">

    <div class="form-item">
  <label for="breed-field">Select breed:</label><br>
    <select name="breed" id="breed-field">
      <option value="Angora">Angora</option>
      <option value="Belgian Hare">Belgian Hare</option>
      <option value="Californian">Californian</option>
      <option value="Continental Giant">Continental Giant</option>
      <option value="Dutch">Dutch</option>
      <option value="English Lop">English Lop</option>
      <option value="Flemish Giant">Flemish Giant</option>
      <option value="French Lop">French Lop</option>
      <option value="Harlequin">Harlequin</option>
      <option value="Lionhead">Lionhead</option>
      <option value="Mini-lop">Mini-lop</option>
      <option value="Netherlands Dwarf">Netherlands Dwarf</option>
      <option value="Rex">Rex</option>
    </select>
    </div> <br>

    <div class="form-item">
  <input type='submit' value='Find by Breed'>
</form>
</div>

<br>

<%= "Sorry, there are no bunnies of this breed available." if @animals.length == 0 %>
</div>


<% @animals.each do |animal| %>
<div class="item">

   <img src="<%= animal.image %>" class="image">
   <p>Name: <%= animal.animal_name %></p>
   <p>Breed: <%= animal.breed %></p>
   <p><a href="/rabbit-rescue/<%= animal.id %>">View Bunny</a></p>
   </div>


  <% end %>
