<% @animals.each do |animal| %>
 <img src="<%= animal.image %>" class="image">
 <p>Name: <%= animal.animal_name %></p>
 <p>Breed: <%= animal.breed %></p>
 <p>Age: <%= animal.age %></p>
<p><a href="/rabbit-rescue/<%= animal.id %>">View Bunny</a></p>
 <hr />

 <% end %>
