<% @animals.each do |animal|  %>
  <% if animal.ready_to_adopt == "f" %>
  <div class="item">

    <img src="<%= animal.image %>" class="image">
    <p>Name: <%= animal.animal_name %></p>
    <p>Breed: <%= animal.breed %></p>
    <p>Age: <%= animal.age %></p>
    <p>Admission date: <%= animal.admission_date %></p>
    <p><a href="/rabbit-rescue/<%= animal.id %>" class="menu-item">View Bunny</a></p>
  </div>
  <% end %>
<% end %>
