<p>Name: <%= animal.animal_name %></p>
<p>Breed: <%= animal.breed %></p>
<p>Admission date: <%= animal.admission_date %></p>
<p>Adoption status: <%= animal.ready_to_adopt %></p>
<p><a href="/rabbit-rescue/our-bunnies/<%= @animal.id %>/update_bunny/<%= animal.id %>">Update Bunny</a></p>
<form method="post" action="/rabbit-rescue/<%= @animal.id %>/delete">
  <input type="submit" value="Delete Entry"/>
</form>
