<h2>Update <%= @animal.animal_name %></h2>
<form method="post" action="/rabbit-rescue/<%= @animal.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="animal_name"
  id="name-field"
  value="<%= @animal.animal_name %>"
  />

  <label for="breed-field">Breed:</label>
  <input
  type="text"
  name="breed"
  id="breed-field"
  value="<%= @animal.breed %>"
  />

  <label for="admission-date-field">Admission date:</label>
  <input
  type="text"
  name="admission_date"
  id="admission-date-field"
  value="<%= @animal.admission_date %>"
  />

  <label for="adoption-status">Ready for adoption?</label>
  <select name="status" id="adoption-status">
      <% if @animal.ready_to_adopt ==  "t"%>
      <option value="Yes" selected>Yes</option>
      <option value="No">No</option>
      <% else %>
      <option value="Yes">Yes</option>
      <option value="No" selected>No</option>
      <% end %>
  </select>

  <label for="assign-owner">Owner</label>
   <select name="owner_id" id="assign-owner">
     <% @owners.each do |owner| %>
       <% if owner.id == @animal.owner_id %>
         <option value=<%= owner.id %> selected><%=owner.owner_name %></option>
       <% else %>
         <option value=<%= owner.id %>><%= owner.owner_name %></option>
       <% end %>
     <% end %>
     <option value="" <%= "selected" if @animal.owner_id == 0 %>>None</option>
     </select>


  <input type='submit' value="Update">
</form>
