<h2>Update <%= @animal.animal_name %></h2>
<form method="post" action="/rabbit-rescue/<%= @animal.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="animal_name"
  id="name-field"
  value="<%= @animal.animal_name %>"
  />

  <label for="breed-field">Breed:</label>
  <input
  type="text"
  name="animal_breed"
  id="breed-field"
  value="<%= @animal.breed %>"
  />

  <label for="admission-date-field">Breed:</label>
  <input
  type="text"
  name="admission_date"
  id="admission-date-field"
  value="<%= @animal.admission_date %>"
  />

  <label for="adoption-status">Ready for adoption?</label>
  <select name="status" id="adoption-status">
    <option
    value="Yes"
    <%= "selected" if @animal.ready_to_adopt == "Yes" %>
    >Yes</option>
    <option
    value="No"
    <%= "selected" if @animal.ready_to_adopt == "No" %>
    >No</option>
  </select>

  <label for="adoption-status">Owner</label>
  <select name="status" id="adoption-status">
    <option value="None"
    <%= "selected" if @animal.owner_id == nil %>
    >None</option>
    <option value="Trish"
    <%= "selected" if @animal.owner_id == "Eve" %>
    >Trish</option>
    <option value="Joseph"
    <%= "selected" if @animal.owner_id == "Eve" %>
    >Joseph</option>
    <option value="Bruno"
    <%= "selected" if @animal.owner_id == "Eve" %>
    >Bruno</option>
    <option value="Erin"
    <%= "selected" if @animal.owner_id == "Eve" %>
    >Erin</option>
    <option value="Kathryn"
    <%= "selected" if @animal.owner_id == "Eve" %>
    >Kathryn</option>
    <option value="Johnny"
    <%= "selected" if @animal.owner_id == "Eve" %>
    >Johnny</option>
  </select>

  <input type='submit' value="Update">
</form>
