<h2>Update <%= @animal.animal_name %></h2>
<form method="post" action="/rabbit-rescue/<%= @animal.id %>">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="animal_name"
  id="name-field"
  value="<%= @animal.animal_name %>"
  />

  <label for="breed-field">Select breed:</label>
    <select name="breed" id="breed-field">
      <option value="Angora" <%= selected if @animal.breed == "Angora" %>>Angora</option>
      <option value="Belgian Hare" <%= selected if @animal.breed == "Belgian Hare" %>>Belgian Hare</option>
      <option value="Californian" <%= selected if @animal.breed == "Californian" %>>Californian</option>
      <option value="Continental Giant" <%= selected if @animal.breed == "Continental Giant" %>>Continental Giant</option>
      <option value="Dutch" <%= selected if @animal.breed == "Dutch" %>>Dutch</option>
      <option value="English Lop" <%= selected if @animal.breed == "English Lop" %>>English Lop</option>
      <option value="Flemish Giant" <%= selected if @animal.breed == "Flemish Giant" %>>Flemish Giant</option>
      <option value="French Lop" <%= selected if @animal.breed == "French Lop" %>>French Lop</option>
      <option value="Harlequin" <%= selected if @animal.breed == "Harlequin" %>>Harlequin</option>
      <option value="Lionhead" <%= selected if @animal.breed == "Lionhead" %>>Lionhead</option>
      <option value="Mini-lop" <%= selected if @animal.breed == "Mini-lop" %>>Mini-lop</option>
      <option value="Netherland Dwarf" <%= selected if @animal.breed == "Netherland Dwarf" %>>Netherland Dwarf</option>
      <option value="Rex" <%= selected if @animal.breed == "Rex" %>>Rex</option>
    </select>

  <label for="admission-date-field">Admission date:</label>
  <input
  type="text"
  name="admission_date"
  id="admission-date-field"
  value="<%= @animal.admission_date %>"
  />

  <label for="adoption-status">Ready for adoption?</label>
  <select name="ready_to_adopt" id="adoption-status">
      <% if @animal.ready_to_adopt ==  "t"%>
      <option value="t" selected>Yes</option>
      <option value="f">No</option>
      <% else %>
      <option value="t">Yes</option>
      <option value="f" selected>No</option>
      <% end %>
  </select>

  <label for="assign-owner">Owner</label>
   <select name="owner_id" id="assign-owner">
     <% @owners.each do |owner| %>
       <% if owner.id == @animal.owner_id %>
         <option value=<%= owner.id %> selected><%=owner.owner_name %></option>
       <% else %>
         <option value=<%= owner.id %>><%= owner.owner_name %></option>
       <% end %>
     <% end %>
     <option value="" <%= "selected" if @animal.owner_id == 0 %>>None</option>
     </select>


  <input type='submit' value="Update">
</form>
